/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.contact-page {
  scale: 0.8;
}

.goBack-btn {
  margin-right: 5px;
}

@media screen and (max-width:576px) {
  .contact-page {
      scale: 1;
      margin-top: 50px;
  }
  .goBack-btn {
      margin-right: 0;
      margin-bottom: 10px;
  }
}